body{
    text-align: center;
    background-color: cadetblue;
}

.pokeResult {
    border: 2px solid black;
    border-radius: 8px;
    padding: 5px;
    margin: 10px;
    background-color: gainsboro;
}

#pokeArea{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}