<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>PokeAPI - Painel Admin</title>
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</head><body>

<h2>Administration Panel</h2>
<p>All users</p>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td>
            <form th:if="${user.username != 'admin'}"
                  th:action="@{/admin/users/delete/{id}(id=${user.id})}"
                  method="post">
                <button type="submit" class="btn-delete">Delete</button>
            </form>

            <span th:if="${user.username == 'admin'}" style="color: gray; font-style: italic;">
                        Protected
                    </span>
        </td>
    </tr>
    </tbody>
</table>

<br>
<a th:href="@{/login}">Back to log in</a>

</body>
</html>