<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeAPI</title>
    <link rel="icon" type="image/png" th:href="@{/images/icon_pokeball.png}">

    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script th:src="@{/js/script.js}" defer></script>

</head>
<body>
    <nav class="navbar">
        <ul class="nav-links">
            <li><a th:href="@{/index}" class="active">Home</a></li>
            <li><a th:href="@{/search}">Search</a></li>
            <li><a th:href="@{/types}">Types</a></li>
            <li><a th:href="@{/items}">Items</a></li>
            <li><a th:href="@{/locations}">Locations</a></li>
            <li><a th:href="@{/games}">Games</a></li>
        </ul>

        <div class="column-profile">
            <a th:href="@{/profile}"><img
                    th:src="${user?.picProfileUrl != null && !user.picProfileUrl.isBlank() ? user.picProfileUrl : '/images/profileIcon.png'}"
                    alt="icon profile" class="profile-icon"></a>
            <p class="username-profile" th:text="${user.username}">Username</p>
        </div>
    </nav>

    <template id="pokemonTemplate">
        <div class="pokeResult">
            <h2 class="name">Pokemon</h2>
            <img alt="Pokemon Sprite" class="sprite">
            <p class="height">Height</p>
            <p class="weight">Weight</p>
            <p class="type">Type</p>
        </div>
    </template>

    <h1 class="title">HOME</h1>
    <div id="pokeArea">
    </div>

</body>
</html>