<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeAPI</title>
    <link rel="icon" type="image/png" th:href="@{/images/icon_pokeball.png}">

    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/items.css}">
    <script th:src="@{/js/items.js}" defer></script>

</head>
<body>
    <nav class="navbar">
        <ul class="nav-links">
            <li><a th:href="@{/index}">Home</a></li>
            <li><a th:href="@{/search}">Search</a></li>
            <li><a th:href="@{/types}">Types</a></li>
            <li><a th:href="@{/items}" class="active">Items</a></li>
            <li><a th:href="@{/locations}">Locations</a></li>
            <li><a href="#games">Games</a></li>
        </ul>
    </nav>

    <h1 class="title">Items</h1>

    <div class="search-box">
        <label for="itemField"></label><input type="text" placeholder="Enter a Item" id="itemField">
        <button onclick="searchItems()">Find</button>
    </div>

    <div id="itemArea">
    </div>

    <template id="itemTemplate">
        <div class="itemResult">
            <h2 class="name">Item</h2>
            <img alt="Item Sprite" class="sprite" src="">
            <p class="description">Description</p>
        </div>
    </template>



</body>
</html>