<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeAPI</title>
    <link rel="icon" type="image/png" th:href="@{/images/icon_pokeball.png}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/locations.css}">
    <script th:src="@{/js/script.js}" defer></script>
    <script th:src="@{/js/locations.js}" defer></script>

</head>
<body>
<nav class="navbar">
    <ul class="nav-links">
        <li><a th:href="@{/index}">Home</a></li>
        <li><a th:href="@{/search}">Search</a></li>
        <li><a th:href="@{/types}">Types</a></li>
        <li><a th:href="@{/items}">Items</a></li>
        <li><a th:href="@{/locations}" class="active">Locations</a></li>
        <li><a th:href="@{/games}">Games</a></li>
    </ul>

    <div class="column-profile">
        <a th:href="@{/profile}"><img
                th:src="${user?.picProfileUrl != null && !user.picProfileUrl.isBlank() ? user.picProfileUrl : '/images/profileIcon.png'}"
                alt="icon profile" class="profile-icon"></a>
        <p class="username-profile" th:text="${user.username}">Username</p>
    </div>
</nav>

<template id="locationsTemplate">
    <div class="locResult">
        <h2 class="location">Location</h2>
        <ul class="cities"></ul>
    </div>
</template>

<h1 class="title">LOCATIONS</h1>
<div class="regionButtons">
    <button class="regionButton" onclick="findRegion(this)">Kanto</button>
    <button class="regionButton" onclick="findRegion(this)">Johto</button>
    <button class="regionButton" onclick="findRegion(this)">Hoenn</button>
    <button class="regionButton" onclick="findRegion(this)">Sinnoh</button>
    <button class="regionButton" onclick="findRegion(this)">Unova</button>
    <button class="regionButton" onclick="findRegion(this)">Kalos</button>
    <button class="regionButton" onclick="findRegion(this)">Alola</button>
    <button class="regionButton" onclick="findRegion(this)">Galar</button>
    <button class="regionButton" onclick="findRegion(this)">Hisui</button>
    <button class="regionButton" onclick="findRegion(this)">Paldea</button>
    <button class="regionButton" onclick="findRegion(this)">Orre</button>
</div>

<div>
    <h3 id="pokemonByRegion"></h3>
</div>

<div id="pokeArea">
</div>

</body>
</html>