<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeAPI</title>
    <link rel="icon" type="image/png" th:href="@{/images/icon_pokeball.png}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/types.css}">
    <script th:src="@{/js/script.js}" defer></script>
    <script th:src="@{/js/pagination.js}" defer></script>

</head>
<body>
<nav class="navbar">
    <ul class="nav-links">
        <li><a th:href="@{/index}">Home</a></li>
        <li><a th:href="@{/search}">Search</a></li>
        <li><a th:href="@{/types}" class="active">Types</a></li>
        <li><a th:href="@{/items}">Items</a></li>
        <li><a th:href="@{/locations}">Locations</a></li>
        <li><a href="#games">Games</a></li>
    </ul>

    <a th:href="@{/profile}"><img th:src="@{/images/profileIcon.png}" alt="icon profile" class="profile-icon"></a>
</nav>

<template id="pokemonTemplate">
    <div class="pokeResult">
        <h2 class="name">Pokemon</h2>
        <img alt="Pokemon Sprite" class="sprite">
        <p class="type">Type</p>
    </div>
</template>

<div class="typeButtons">
    <button class="typeButton" data-type="normal" onclick="findPokemonOfType(this)">Normal</button>
    <button class="typeButton" data-type="fire" onclick="findPokemonOfType(this)">Fire</button>
    <button class="typeButton" data-type="water" onclick="findPokemonOfType(this)">Water</button>
    <button class="typeButton" data-type="bug" onclick="findPokemonOfType(this)">Bug</button>
    <button class="typeButton" data-type="poison" onclick="findPokemonOfType(this)">Poison</button>
    <button class="typeButton" data-type="fairy" onclick="findPokemonOfType(this)">Fairy</button>
    <button class="typeButton" data-type="psychic" onclick="findPokemonOfType(this)">Psychic</button>
    <button class="typeButton" data-type="electric" onclick="findPokemonOfType(this)">Electric</button>
    <button class="typeButton" data-type="grass" onclick="findPokemonOfType(this)">Grass</button>
    <button class="typeButton" data-type="ghost" onclick="findPokemonOfType(this)">Ghost</button>
    <button class="typeButton" data-type="rock" onclick="findPokemonOfType(this)">Rock</button>
    <button class="typeButton" data-type="ice" onclick="findPokemonOfType(this)">Ice</button>
    <button class="typeButton" data-type="ground" onclick="findPokemonOfType(this)">Ground</button>
    <button class="typeButton" data-type="fighting" onclick="findPokemonOfType(this)">Fighting</button>
    <button class="typeButton" data-type="dragon" onclick="findPokemonOfType(this)">Dragon</button>
    <button class="typeButton" data-type="dark" onclick="findPokemonOfType(this)">Dark</button>
</div>

<div class="pagination">
    <button class="pageBtn" id="prevBtn">Previous</button>
    <span id="pageInfo">Page 1</span>
    <button class="pageBtn" id="nextBtn">Next</button>
</div>

<div id="pokeArea">
</div>

</body>
</html>